<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.accp.dao.tyh.tyhIMemberDAO">

	<!-- 新增会员 -->
	<insert id="tyhInsertByMember">
		INSERT INTO `member`(memberid,gradeid,membername,memberpwd,money,starttime)
		VALUE(#{m.memberid},#{m.gradeid},#{m.membername},#{m.memberpwd},#{m.money},NOW())
	</insert>

	<!-- 查询会员 -->
	<select id="tyhQueryByMember" resultType="Member">
		SELECT * FROM `member`
	</select>

</mapper>