<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.accp.dao.tyh.tyhIMemberDAO">

	<!-- 充值 -->
	<update id="tyhUpdateByCz">
		update member set memberintegrate = #{m.memberintegrate}/100 + memberintegrate,countintegrate = #{m.memberintegrate}/100 + countintegrate,money = #{m.money} + money
		where memberid = #{m.memberid}
	</update>

	 <!-- 删除会员 -->
	<delete id="tyhDelByMember">
		delete from member
		where memberid = #{memberid}
	</delete>

	<!-- 修改会员密码 -->
	<!-- <update id="tyhUpdateByMember">
		update member set memberpwd = #{memberpwd}
		where membername = #{membername}
	</update> -->

	<!-- 根据会员ID查询会员消费记录 -->
	<select id="tyhQueryByMemberinfo" resultType="tyhMemberInfo">
		SELECT * FROM `memberinfo` AS mo
		INNER JOIN `member` AS m
		ON mo.`memberid` = m.`memberid`
		where mo.`memberid` = #{memberid}
	</select>

	<!-- 查询会员等级 -->
	<select id="tyhQueryByGrade" resultType="Grade">
		select * from Grade
	</select>

	<!-- 新增会员 -->
	<insert id="tyhInsertByMember">
		INSERT INTO `member`(memberid,gradeid,membername,memberpwd,money,starttime)
		VALUE(#{m.memberid},#{m.gradeid},#{m.membername},#{m.memberpwd},#{m.money},NOW())
	</insert>

	<!-- 查询会员 -->
	<select id="tyhQueryByMember" resultType="Members">
		SELECT * FROM `member` AS m
		INNER JOIN `grade` AS g
		ON m.`gradeid` = g.`gradeid`
	</select>

</mapper>